{% extends 'base.html' %}

{% block title %}Registrarse - Florería FloreSer{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5 col-lg-4">
    <h3 class="mb-3 text-center">Crear cuenta</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary w-100 mt-2">Registrarse</button>
    </form>
    <p class="mt-3 text-center">
      ¿Ya tienes cuenta?
      <a href="{% url 'login' %}">Iniciar sesión</a>
    </p>
  </div>
</div>
{% endblock %}