{% extends 'base.html' %}
{% block content %}
<h3>Reportes</h3>
<div class="list-group">
  <a class="list-group-item list-group-item-action" href="{% url 'reportes:ventas' %}">Ventas</a>
  <a class="list-group-item list-group-item-action" href="{% url 'reportes:stock_bajo' %}">Stock bajo</a>
  <a class="list-group-item list-group-item-action" href="{% url 'reportes:proveedores_activos' %}">Proveedores activos</a>
  <a class="list-group-item list-group-item-action" href="{% url 'reportes:auditoria' %}">Auditoría</a>
</div>
{% endblock %}
