[Unit]
Description=Gunicorn daemon for Floreria FloreSer
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/floreria-floreser
Environment="PATH=/opt/floreria-floreser/.venv/bin"
ExecStart=/opt/floreria-floreser/.venv/bin/gunicorn --workers 3 --bind unix:/run/floreria-gunicorn.sock floreria.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RuntimeDirectory=floreria-gunicorn
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
